$yellow: #f2dd68;
$colorBlack : #303030;
body{
  background : $colorBlack;
}
.box1, .box2, .box3, .box-static{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: 0px;
}
.box-static{
  display: inline-block;
  margin: 10%;
}

.box1{
  background-color: lighten($yellow, 50%);
  margin-bottom: 30px;
  box-shadow: 0 5px 5px $yellow;
}
.box2{
  background-color: lighten($yellow, 100%);
}

.animate{
  -webkit-animation: mymove1 20s infinite;
  animation: mymove1 20s infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
.animate2{
  -webkit-animation: mymove2 200s infinite;
  animation: mymove2 200s infinite;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  transition-delay: 50s;
}
.animate3{
  -webkit-animation: mymove3 10s infinite;
  animation: mymove3 10s infinite;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.animate-static{
  -webkit-animation: static 30s infinite;
  animation: static 30s infinite;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}


@-webkit-keyframes mymove1 {
     0% {top: 50vh; left: 0;}
   15% {top: 0; left: 15%; background-color : darken($yellow, 25%); }
   50% { top: 80vh; left:50%; background-color: $yellow;}
    100% {top: 0; left: 100%; background-color: lighten($yellow, 100%);}
}

@keyframes mymove1 {
   0% {top: 50vh; left: 0;}
   15% {top: 0; left: 15%; background-color : darken($yellow, 25%); }
   50% { top: 80vh; left:50%; background-color: $yellow;}
    100% {top: 0; left: 100%; background-color: lighten($yellow, 100%);}
}

@-webkit-keyframes mymove2 {
     0% {top: 80vh; left: 0;}
    1% {top: 0; left: 101%;}
    100% {top: 0; left: 101%;}
}

@keyframes mymove2 {
   0% {top: 80vh; left: 0;}
   1% {top: 0; left: 101%;}
    100% {top: 0; left: 101%;}
}

@-webkit-keyframes mymove3 {
  0% {top: 0; left: 0;}
   15% {top: 80vh; left: 50%; background-color : darken($yellow, 50%); }
   50% { top: 50vh; left:75%; background-color: darken($yellow, 100%);}
    100% {top: 25vh; left: 101%; background-color: lighten($yellow, 100%);}
}

@keyframes mymove3 {
0% {top: 0; left: 0;}
   30% {bottom: 30vh; left: 50%; background-color : darken($yellow, 50%); }
   50% { top: 50vh; left:75%; background-color: darken($yellow, 75%);}
    100% {top: 25vh; left: 101%; background-color: lighten($yellow, 100%);}
}

@keyframes static{
  0%{transform : scale(0.5); background-color : darken($yellow, 25%)}
  45%{ transform: scale(1.5); background-color: lighten($yellow, 75%); box-shadow: 0 5px 5px #fff}
  100%{transform : scale(2.0) }
}
